<p>
  <%= quantities_form.label :quantity %>
  <%= quantities_form.text_field :quantity %>
</p>
<p>
  <%= quantities_form.label :ingredient %>
  <%= quantities_form.text_field :ingredient_name %>
</p>
