<div class= 'profile'>

  <h1 class= 'profile-name'><%= @user.username.upcase %></h1>
  
  
  <div class= 'user-recipes'>
    <ul>
      <% @user.recipes.each do |recipe| %>
        <li> <%= link_to recipe.name, category_recipe_path(recipe.category_id, recipe) %> </li>
      <% end %>
    </ul>
  </div>

</div>