<h1> Courses </h1>

<% @categories.each do |category| %>
  <p><%= link_to "#{ category.name }", category_path(category) %></p>
    <% if category.recipes.count > 0 %>
      <ul>
          <%= render partial: 'recipe', collection: category.recipes[-5..-1], locals: { category:category } %>
      </ul>
    <% end %>
<% end %>

<!-- find a way to set limit for top 5 of each category when ratings are implemented -->