<h1> Categories </h1>

<% @categories.each do |category| %>
  <%= link_to "#{ category.name }", category_path(category) %>
  <ul>
    <li>
      <%= render partial: 'recipe', collection: @recipes, locals: { category: category } %> 
    </li>
  </ul>
<% end %>

<!-- find a way to set limit for top 5 of each category -->